html {
    font-family: 'Open Sans', sans-serif, 'Comfortaa', cursive;
  }

h5{
  font-family: 'Comfortaa', cursive;
  font-weight:bold;
  font-size: 110%;
  text-align: center;
  margin-top: 12px !important;
}
 h2{
   font-family:font-family: 'Open Sans'
   font-weight:600;
   font-size: 300%;
   text-align:center;
 }

p{
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

.side-nav{
  background-image: url('../img/swirl.png') !important;
}
/* add this */

.flow-text{
  font-size: 20px !important;
}

.side-nav li>a{
  font-size: 20px !important;
  font-weight:normal !important;
  margin-top: 15px !important;
}
/* add this */
.background-subtle{
  background-image: url('../img/swirl.png') !important;
}

.sub-heading{
  font-family: 'Comfortaa', cursive !important;
  font-weight: bold;
  text-align: center;
  font-size: 300%;
}

.card{
  margin-top: 30px !important;
}

.noshowUser{
  display:none;
}

.noshowRestaurant{
  display:none;
}

.card-image{
  clear:left;
  /*margin-top:-12px;*/
  margin-right:3px;
  margin-left: 3px;
  margin-bottom: 1px;
}

.card-stacked{
  padding-top: 3px;

}

.card-action{
  background-color: #f57c00 !important;
  text-align: center;
}

.removal{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white !important;
  text-align: center;
}

.brand-logo{
  font-variant:normal !important;
  /* font-size: 35px !important; */
}

.card .card-action{
  padding: 10px 27px !important;
}

.brand-logo{
  font-variant: normal;
}
