body{
  background-image: url('../img/CoverImabge.jpg');
  background-size: 124%;
  background-repeat: no-repeat;
}

/*.grid{
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "header header header"
  "content content content"
}*/

h1{
  margin-top: -10px;
  color: #E89A3C;
  /*font-family: 'Oswald', sans-serif;*/
  font-family: 'Hammersmith One', sans-serif;
  font-size: 600%;
  text-align: center;
  text-shadow: 2px 2px 8px black;
}

h2{
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  margin-top:-80px;
  text-align: center;
  font-size: 135%;
}

p{
  font-family: 'Open Sans', sans-serif;
}

.login {
  background-color: white;
  border-color: #4CABEA;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 24px;
  align-items: center;
  border-radius: 22px;
  width: 250px;
  height:40px;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
}

.btn-primary
{
  background-color: #4CABEA;
  border-color: #3290CE;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 24px;
  align-items: center;
  border-radius: 22px;
  width: 262px;
  height:52px;
  padding: 5px;
}

.btn-primary {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.5s;
}

.btn-primary:hover {
    background-color: #3290CE; /* Green */
    color: white;
}


.loginSubmit
{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
  font-size: large;
}

.signin{
  margin-left: 10%;
  margin-right:10%;
  margin-top: 70%;
}
