h4{
    font-family: 'Comfortaa', cursive;
    font-size: 23px !important;
}

h5{
  font-family: 'Comfortaa', cursive;
  font-size: 17px !important;

}

.gm-style-iw{
  left: 21px !important;
}

p{
    font-family: 'Comfortaa', cursive;
}

#buttonCenter{
  text-align: center;
}
#content{
  background-image: url('../img/swirl.png') !important;
      text-align: center;
}

.info_details {
height:100px
width: 325px;
}

.mapButton{
  display: block;
  margin-bottom: 3px;
}

#nameGreeting{
  background-color: #ffc199;
}
