/*.grid{
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "header header header"
  "content content content"
}*/
#map{
height: 700px;
width: 100%;
}
#card{
  height: 200px;
  width: 100%;
  background-color: green;
}


.sub-heading{
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  text-align: center;
  font-size: 135%;
  margin-top:-15px;
}

.noshowRestaurant{
  display:none;
}

.text-label{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  /* font-family: 'Comfortaa', cursive; */
  color: black;
  font-size: 150%;

}

p{
  font-family: 'Open Sans', sans-serif;
}

.background-login{
  background-image: url('../img/CoverImabge.jpg');
  background-size: 124%;
  background-repeat: no-repeat;
}

.background-sign_up{
  background-image: url('../img/CoverImabge_copy.jpg');
  background-size: 124%;
  background-repeat: no-repeat;

}

.background-subtle{
  background-image: url('../img/swirl.png') !important;
}

.heading{
  margin-top: -10px;
  color: #ffa83f;
  /*font-family: 'Oswald', sans-serif;*/
  font-family: 'Hammersmith One', sans-serif;
  font-size: 400%;
  text-align: center;
  text-shadow: 2px 2px 8px #413F3F;
}

.brand-logo {
  font-family: 'Hammersmith One';
}

li{
  font-family: 'Open Sans', sans-serif;
}

.heading_sign_up{
  margin-top: 25px;
  color: #ffa83f;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 400%;
  text-align: center;
  text-shadow: 2px 2px 8px #413F3F;
}

.input {
  background-color: rgba(255,255,255,.7) !important;
  border-width: 2px !important;
  border-style: none !important;
  border-radius: 22px !important;
  margin-top: 5px !important;
  margin-bottom: 14px !important;
  align-items: center !important;
  width: 250px !important;
  height:25px !important;
  padding: 5px !important;
  padding-left: 17px !important;
  font-family: 'Open Sans', sans-serif  !important;
  color: black !important;
}

.content{
  text-align: center;
  margin-top: 30px;
}

.heading{
    margin-top: 30px !important;
    text-align: center;
}


.btn-primary {
  background-color: #49b6ff;
  border-color: #56bbff;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 24px;
  align-items: center;
  border-radius: 22px;
  box-shadow: 2px 2px 8px #413F3F;
  width: 262px;
  height:52px;
  padding: 5px;
  margin-top:
}

.submit-btn{
  margin-top: 20px !important;
}


.btn-primary {
    height:40px;
    margin-top: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.5s;

}

.btn-primary:hover {
    background-color: #3290CE; /* Green */
    color: white;
}


.submitPage
{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
  font-size: large;
}

.signin{
  margin-left: 10%;
  margin-right:10%;
  margin-top: 75%;

}

.signup{
  margin-left: 10%;
  margin-right:10%;
  margin-top: 15%;

}

.side-nav{
  background-image: url('../img/swirl.png') !important;
}

.side-nav li>a{
  font-size: 20px !important;
  font-weight:normal !important;
  margin-top: 15px !important;
}

.mapMenu{
  font-weight: bold;
}

.mapButton{
    margin-right: 3px;
}

#goSign{
  margin-top:-12px;
}
.noshowRestaurant{
  display:none;
}


.scroll{
  overflow: hidden;
    white-space: nowrap;
}
